body{
  background-color: rgb(24, 7, 78)
}
h3{
  color: aliceblue;
}
.App {
  text-align: center;
  width: 45%;
  margin: 0 auto;
  margin-top: 5%;
}

.App li {
  border-radius: 2%;
  list-style: none;
  padding: 2%;
  margin-bottom: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App button.btn-light{
  color: black;
  border-color: blue;
  width: 80%;
}

.App button.btn-success, button.btn-danger{
  margin-top: 10%;
  margin-left: 60%;
}