body{
  background-color: rgb(25, 25, 138)
}

.App {
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.App li{
  background-color: rgb(180, 235, 126);
  border-right-color: crimson;

}

.App svg{
  position: relative;
  margin-left: 50%;
  width: 8%;
}

.App button{
  margin-top: 10%;
  margin-left: 60%;
}